html {
    box-sizing: border-box; /*Esto es para cuando especifquemos un padding o margin no modifique el witdth heigh*/
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/*https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/

body{
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  padding: 60px;
  width: 90rem;
  margin: 0 auto;
}

input{
  color: gray;
  width: 100%;
  font: 2rem;
  padding: 5px 0;
}

h1{
  border-bottom: 1px solid black;
}